In [1]:
import pandas as pd
import sys, os

In [19]:
df = pd.read_csv("../data/20181024_d1_1030_1100.csv",sep="[,;:]",index_col=False)
df.head(10)

C:\Users\user\AppData\Local\Temp\ipykernel_26728\1378635900.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("../data/20181024_d1_1030_1100.csv",sep="[,;:]",index_col=False)
C:\Users\user\AppData\Local\Temp\ipykernel_26728\1378635900.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv("../data/20181024_d1_1030_1100.csv",sep="[,;:]",index_col=False)

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Bus,17.84,17.835195,37.977149,23.737802,21.6886,0.0571,0.3060,0.0
1,2,Motorcycle,25.20,18.896364,37.977303,23.737727,21.0426,-0.0278,0.2804,0.0
2,3,Car,55.26,22.605440,37.977436,23.737727,21.4441,0.0141,0.0088,0.0
3,4,Medium Vehicle,55.29,29.273728,37.977472,23.737653,29.6991,0.0023,0.0115,0.0
4,5,Motorcycle,46.25,24.486125,37.977489,23.737608,26.5858,-0.0317,-0.0612,0.0
5,6,Motorcycle,42.78,29.615082,37.977504,23.737586,32.1324,-0.0231,-0.0585,0.0
6,7,Car,71.67,24.809316,37.977599,23.737593,21.6583,-0.0279,0.0326,0.0
7,8,Bus,80.20,25.777477,37.977646,23.737522,25.9423,-0.0454,-0.0228,0.0
8,9,Car,85.33,24.774088,37.977690,23.737523,24.8810,0.0078,0.0027,0.0
9,10,Car,91.44,20.574350,37.977796,23.737355,18.3339,0.0104,-0.0262,0.0

In [20]:
df.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time'],
      dtype='object')

In [18]:
df[' type'].value_counts()

 Car               224
 Motorcycle        220
 Taxi              157
 Medium Vehicle     29
 Bus                16
 Heavy Vehicle       2
Name:  type, dtype: int64

In [15]:
df = pd.read_csv("../data/I80_stations.csv",sep="[,;:]",index_col=False)
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_26728\463908154.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("../data/I80_stations.csv",sep="[,;:]",index_col=False)

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,402261,80,E,4,95,NaN,38.2,65.667,38.472850,-121.823777,0.75,ML,3,4A5344 loc 66,DS953,N3-E-23-080-03820,991100.0,425564.0
1,402260,80,W,4,95,NaN,38.24,65.707,38.473363,-121.823474,0.75,ML,3,4A5344 loc 66,DS953,N3-W-23-080-03824,991099.0,429111.0
2,402262,80,W,4,95,NaN,39,66.467,38.481149,-121.813543,0.77,ML,3,4A5344 loc 67,DS954,N3-W-23-080-03900,991101.0,429116.0
3,402263,80,E,4,95,NaN,39,66.467,38.481036,-121.813375,0.70,ML,3,4A5344 loc 67,DS954,N3-E-23-080-03900,991102.0,425569.0
4,402264,80,E,4,95,NaN,39.6,67.067,38.487178,-121.805573,0.50,ML,3,4A5344 LOC 68,DS955,N3-E-23-080-03960,991103.0,425574.0